[submodule "RKEL"]
	path = RKEL
	url = https://github.com/RamtinKosari/RKEL.git
[submodule "Projects/2 - Smart Climate Monitor/PCMC"]
	path = Projects/2 - Smart Climate Monitor/PCMC
	url = https://github.com/40021441054102/PCMC.git
[submodule "Projects/1 - Android Oscilloscope/RKEL"]
	path = Projects/1 - Android Oscilloscope/RKEL
	url = https://github.com/RamtinKosari/RKEL.git
[submodule "Mini-Projects/RP-SBMEQ"]
	path = Mini-Projects/RP-SBMEQ
	url = https://github.com/40021441054102/RP-SBMEQ.git
